.cell {
  height: 2rem;
  width: 2rem;
  border: 1px solid rgb(54, 54, 54);

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(54, 54, 54);
}

.cell:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
  border: 3px solid rgb(6, 64, 172) !important;
}

.cell > span {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.cell input[type="number"] {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.cell input[type="number"]:focus-visible {
  outline: none;
}

.cell input[type="number"]::-webkit-inner-spin-button,
.cell input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
